
<footer>
    {{!-- <p class="copyright">MyCorp - Copyright © 2021</p> --}}
    <div class="footer-wrap">
        <div class="item">
            <h4 class="footer-title" id="navname">Навігація:</h4>
            <ul class="footer-menu" " id="navmenu">
                {{!-- <li><img src="/img/Spinner-2.6s-200px.gif" /></li> --}}
                <li><a href="/">Головна</a></li>
                <li><a href="/about">Про нас</a></li>
                <li><a href="/api/auth/work">Генератор</a></li>
                <li><a href="contacts">Контакти</a></li>
                <li><a href="/enter">Вхід</a></li>
            </ul>
        </div>
        <div class="item">
            <h4 class="footer-title" id="contname">Контакти:</h4>
            <ul class="footer-menu" id="navcontact">
                {{!-- <li>Контакти:</li> --}}
                <li>Написати Email</li>
                <li>Подзвонити на Viber</li>
                <li>Telegram-канал</li>
                <li>Whatsapp</li>
                <li>Phone</li>
            </ul>
        </div>
        <div class="item footer-copy">
            <p class="copyright">MyCorp - Copyright © 2021</p>
            <a class="footer-logo"
         href="/">
        🅲🆂🆅 🆃🅾🅴🆇🅲🅴🅻
        </a>
        </div>
        {{!-- <div class="item">4</div> --}}
    </div>
</footer>