<div class="about-main-section">

    <h1>Про нас</h1>
    <p>Наш сайт разміщено за адресою: <a href="http://localhost:5000">http://localhost:5000</a></p>
    <p>Перед використанням сервісу «CSV TO EXCEL» уважно ознайомтеся з цією Угодою. Використання сервісу «CSV TO EXCEL» дозволено лише у разі повного та беззастережного прийняття Вами умов, викладених у цій Угоді. Якщо Ви не погоджуєтесь з цією Угодою, не використовуйте сервіс «CSV TO EXCEL». Використовуючи сервіс «CSV TO EXCEL», Ви погоджуєтесь з цією Угодою та зобов'язуєтесь її дотримуватися.
</p>

    <h1>Угода використання</h1>

    <h2>Основні терміни та поняття</h2>
    
    <p><span class="bolder-p">Адміністрація</span> — особи, які діють від імені та на користь Правовласника та забезпечують функціонування Сервісу.</p>
    <p><span class="bolder-p">Сервіс</span> — комплекс програмного забезпечення «CSV TO EXCEL», розташований на веб-сайті http://localhost:5000, та використовуваний Користувачем для наповнення свого завантажувального файлу товарних позицій ключовими словами (пошуковими запитами, тегами).</p>
    <p><span class="bolder-p">Користувач</span> — фізична та/або юридична особа, зареєстрована на Сайті.</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <h2>1. ЗАГАЛЬНІ ПОЛОЖЕННЯ</h2>

    <p>1.1. Дана Угода використання (далі – Угода) відноситься до сайту «CSV TO EXCEL» «csvtoexcel.com.ua» (далі – Сайт), розташованого за адресою <a href="/">http://localhost:5000/</a>.</p>
    <p>1.2. Фізична особа Воловенко Володимир Георгійович (далі – Администрація сайту) пропонує Користувачеві використовувати свій Сайт на умовах, викладених у цій Угоді. Угода набирає чинності з моменту вираження Користувачем згоди з його умовами у порядку, передбаченому п. 1.4 Угоди.</p>
    <p>1.3. Використання Сайту регулюється цією Угодою та ????????Політикою конфіденційності (<a href="privacy-policy">https://itchief.ru/privacy-policy</a>). Угода може бути змінена Адміністрацією сайту без будь-якого спеціального повідомлення, нова редакція Угоди набирає чинності з моменту її розміщення в мережі Інтернет за вказаною адресою: xxxxxxx<a href="http://localhost:5000/about">http://localhost:5000/about</a>.</p>
    <p>1.4. Починаючи використовувати будь-яку сторінку або пройшовши процедуру реєстрації, Користувач вважається таким, що прийняв умови Угоди в повному обсязі, без жодних застережень і винятків. У разі незгоди Користувача з будь-яким із положень Угоди, Користувач не має права використовувати Сайт. У разі якщо Адміністрацією сайту було внесено будь-які зміни до Угоди у порядку, передбаченому пунктом 1.3 Угоди, з якими Користувач не погоджується, він зобов'язаний припинити використання Сайту.</p>
    <p>1.5. Користувач гарантує, що на нього не поширюються законодавчі обмеження на використання онлайн-послуг, що він має всі необхідні повноваження для укладення цієї Угоди або отримав необхідний дозвіл у необхідній законом формі від своїх батьків або законних представників.</p>
    <p>1.6. Користувач зобов'язаний регулярно самостійно перевіряти останню версію Угоди, знайомитись з усіма змінами та доповненнями у Сервісі.</p>
    <p>1.7. Використовувати Сервіс дозволено лише дієздатним фізичним та юридичним особам</p>
    <p>1.8. Користувач погоджується, що всі його дані, що вводяться ним під час реєстрації, а також отримані під час роботи з сервісом під час авторизації у сервісі, у тому числі в режимі статистики, стають доступними Адміністрації. Користувач, використовуючи сервіс, погоджується на використання зазначеної інформації.</p>
    <p>1.9. Сервіс «CSV TO EXCEL» зобов'язується надавати Користувачеві технічну та іншу консультаційну підтримку, пов'язану з використанням Сервісу на наступних каналах зв'язку: розділ "Контакти" на сайті Сервісу, електронна пошта, вказана в розділі "Контакти" сайту Сервісу.</p>
    <p>1.10. Усі платежі, які здійснюються Користувачем, є добровільними. Користувач зобов'язується здійснювати оплату у розмірі та в строки, зазначені на сторінці !!!!Оплата сервісу сайту!!!! «CSV TO EXCEL». Користувач підтверджує згоду з цінами, опублікованими на сайті «CSV TO EXCEL», у тому числі у разі їх зміни Адміністрацією. Зміни набувають чинності з моменту їх публікації на сайті CSV TO EXCEL.</p>
    <p>1.11. Використання Сервісу здійснюється Користувачами на добровільній основі. Користувачеві необхідно застосовувати власну незалежну думку щодо вивантаження отриманих даних на Сервісі на сайти третіх осіб.</p>
    <p>1.12. Ця Угода є письмовою офертою, тобто пропозицією укласти угоду на зазначених умовах. Акцептом, тобто прийняттям усіх умов оферти, вважається здійснення Користувачем фактичних дій щодо використання Сервісу, а також проходження процедури реєстрації у Сервісі.</p>
    <p>1.13. Будь-які дії, вчинені на Сервісі з використанням логіну та пароля Користувача, вважаються вчиненими цим Користувачем.</p>
    <p>1.14. Користувач гарантує, що при використанні Сервісу для зміни свого файлу з товарними позиціями він не порушує авторські чи інші права на файли, що завантажуються, або є власником файлів або є власниками прав на комерційне використання файлів, у тому числі при модифікації файлів за допомогою Сервісу.</p>

    <h2>2. ПРЕДМЕТ УГОДИ</h2>
    
    <p>2.1. Предметом цієї Угоди є надання Користувачеві доступу до  послуги з генерації ключових слів (далі - Послуга), що міститься на Сайті, які необхідні Користувачеві для його цілей.</p>
    <p>2.2. Використання матеріалів та сервісів Сайту регулюється нормами чинного законодавства України.</p>
    <p>2.3. Администратор має право доповнювати та змінювати ці положення, попередивши користувачя листом на вказаний користувачем email протягом реєстрації .</p>
    

    <h2>3. РЕЄСТРАЦІЯ КОРИСТУВАЧА. ВИМОГИ ДО ЛОГІНУ ТА ПАРОЛЯ</h2>
    
    <p class="bolder-p">3.1. Реєстрація Користувача на Сайті є добровільною та надає наступні переваги:</p>
    <p>3.1.1. Мати доступ до оплати Послуги;</p>
    <p>3.1.2. Отримувати Розсилку Сайту на вказаний email протягом реєстрації. При отриманні Розсилки надаєтся змога відмовитись від Розсилки.</p>
    <p>3.3. Процедура реєстрації на сайті «CSV TO EXCEL» складається із введення логіна (адреси email),  пароля та його підтвердження.</p>
    <p>3.4. Логін має бути існуючою адресою електронної пошти.</p>
    <p>3.5. Пароль повинен мати не меньш восьми символів, які складаються з великих та маленьких літер латинського алфавіту та цифр.</p>
    
    <h2>4. ПРАВИЛА ОПЛАТИ ПОСЛУГИ ГЕНЕРАТОРА ТЕГІВ</h2>
    
    <p class="bolder-p">4.1. Оплата послуги генератора тегів (далі - Оплата) є добровільною та надає користувачеві наступні переваги:</p>
    <p>4.1.1. Завантажувати до Сайту свій файл товарних позицій з сайту Prom.ua та з розширенням .csv, змінювати його на файл з розширенням .xlsx, генерувати нові теги (ключові слова), та скачувати цей змінений файл до свого комп'ютера</p>
    <p>4.2. Сума Оплати вказується Администратором.</p>

    <h2>5. ПРАВА ТА ОБОВ'ЯЗКИ СТОРІН</h2>
    
    <p class="bolder-p">5.1. Администрація Сайту має право:</p>
    <p>5.1.1. Змінювати правила користування Сайтом, а також змінювати вміст цього Сайту. Зміни набирають чинності з моменту опублікування цього матеріалу.</p>
    <p>5.1.2. Видаляти облікові записи Користувачів, якщо Користувачі не користуються сайтом більше ніж 12 місяців.</p>
    <p>5.1.3. Змінювати суму оплати.</p>
    <p>5.1.4. .</p>
    <p class="bolder-p">5.2. Користувач, який здійснив Оплату має право:</p>
    <p>5.2.1. Користуватися Послугою, що є на Сайті, після авторизації.</p>
    <p>5.2.2. Задавати питання та залишати коментарі та побажання до Послуги після реєстрації та авторизації через коитакти, вказані на стрінці "Контакти" ( <a href="http://localhost:5000/contacts">http://localhost:5000/contacts</a> ).</p>
    <p>5.2.3. Користуватися Сайтом виключно з метою та порядком, передбаченим Угодою та не забороненим законодавством України.</p>
    <p class="bolder-p">5.3. Користувач Сайту зобов'язується:</p>
    <p>5.3.1. Дотримуватись прав авторів та інших правовласників при використанні Сайту.</p>
    <p>5.3.2. Не вдаватися до дій, які можуть розглядатися як такі, що порушують нормальну роботу Сайту.</p>
    <p>5.3.3. Не розповсюджувати з використанням Сайту будь-яку конфіденційну та охоронювану законодавством України інформацію про фізичних чи юридичних осіб.</p>
    <p>5.3.4. Не розміщувати та/або не поширювати контент, який є незаконним, шкідливим, наклепницьким, ображає моральність, демонструє (або є пропагандою) насильства та жорстокості, порушує права інтелектуальної власності, пропагандує ненависть та/або дискримінацію людей за расовою, етнічною , соціальної ознаки, що містить образи на адресу будь-яких осіб або організацій, містить елементи (або є пропагандою) порнографії, дитячої еротики, є рекламоу (чи пропагандою) послуг сексуального характеру (зокрема під виглядом інших послуг), роз'яснює порядок виготовлення, застосування чи іншого використання наркотичних речовин чи його аналогів, вибухових речовин чи іншого зброї.</p>
    <p>5.3.5. Не представляти себе за іншу людину чи представника організації та (або) спільноти без достатніх прав на те, в тому числі за Адміністрацію даного сайту.</p>
    <p>5.3.6. Не використовувати Сайт та його Зміст у будь-яких цілях, заборонених законодавством України, а також підбурювати будь-яку незаконну діяльність або іншу діяльність, яка порушує права Сайту або інших осіб.</p>
    <p>5.3.7. Не застосовувати сторонні програми чи інші засоби для покращення/автоматизації можливостей Сервісу (т.зв. боти, баги, фрод, читерство).</p>
    <p>5.3.8. Не видавати себе за співробітника служби підтримки Сервісу, члена будь-якої з груп-помічників проекту (адміністраторів, модераторів, консультантів тощо), колишнього чи чинного.</p>
    <p>5.3.9. Не використовувати і не поширювати висловлювання та лексику, що містить загрози, образи, домагання, а також висловлювання, що ведуть до розпалювання ненависті та расової та етнічної ворожнечі (включаючи образами за етнічними та релігійними ознаками).</p>
    <p>5.3.10. Не розповсюджувати фотографій порнографічного характеру, а також повідомлень, в яких можна розпізнати елементи заклику до насильства, расової чи релігійної нетерпимості.</p>
    <p>5.3.11. Не використовувати програмні помилки Сервісу (багів) та не передавати інформацію про їх наявність третім особам, за винятком Адміністрації.</p>
    <p>5.3.12. Не використовувати Сервіс та/або суміжні служби для шахрайських дій, включаючи шахрайські внутрішньосервісні фінансові операції.</p>
    <p>5.3.13. Не доводити чи не підбурювати третіх осіб до здійснення дій, заборонених цими Правилами та/або чинним законодавством, у тому числі пов'язаних з незаконним обігом наркотичних засобів, терористичною діяльністю, закликами до повалення законно обраної влади, порнографією, будь-якими формами дискримінації за статевим, віковим. релігійним чи іншим ознакам.</p>
    <p>5.3.14. Не фальсифікувати, не видаляти або не відключати будь-яку інформацію про авторське право, зокрема посилання на автора, юридичні підтвердження авторських прав та інші подібні повідомлення або приписи, а також позначки про походження або джерело контенту користувача або інших матеріалів, захищених авторськими правами.</p>
    <p>5.3.15. Не використовувати Сервіс для будь-яких незаконних цілей.</p>
    <p>5.3.16. Не завантажувати, не публікувати, не надсилати електронною поштою, не пересилати або не розповсюджувати контент будь-яким іншим способом, який є незаконним, шкідливим, загрозливим, образливим, грубим, порочним, що втручається в особисте життя, расистським, спірним з етичних чи будь-яких інших причин.</p>
    <p>5.3.17. Не використовувати Сервіс для розповсюдження спаму, вірусних матеріалів, несанкціонованої реклами, екстремістських матеріалів.</p>
    <p>5.3.18. Не використовувати одного облікового запису Сервісу кількома користувачами.</p>
    <p>5.3.19. Не передавати, не продавати та не обмінювати облікові записи Сервісу.</p>
    <p>5.3.20. Не використовувати Сервіс як файлообмінник.</p>
    <p>5.3.21. Образи інших користувачів або співробітників Сервісу прямо або опосередковано неприпустимі і тягнуть за собою повне блокування облікового запису.</p>
    
    <h2>6. ВИКОРИСТАННЯ САЙТУ</h2>
    
    <p>6.1. Сайт та зміст, що входить до складу Сайту, належить та керується Адміністрацією сайту.</p>
    <p>6.2. Зміст Сайту захищено авторським правом, законодавством про товарні знаки, а також іншими правами, пов'язаними з інтелектуальною власністю, та законодавством про недобросовісну конкуренцію.</p>
    <p>6.3. Користувач несе персональну відповідальність за збереження конфіденційності інформації облікового запису, включаючи пароль, а також за всю без винятку діяльність, яка ведеться від імені Користувача облікового запису.</p>
    <p>6.4. Користувач повинен негайно повідомити Адміністрацію сайту про несанкціоноване використання його облікового запису чи пароля або будь-яке інше порушення системи безпеки.</p>
    <p class="bolder-p">6.5. Використання Послуги:</p>
    <p>6.5.1. Завантажений файл не повинен мати більш ніж 100 (сто) товарних позицій.</p>
    <p>6.5.2. Файл повинен мати розширення .csv .</p>
    <p>6.5.3. Якщо Користувач не буде дотримуватись вишнвказанних правил, йго файл не завантажиться для генерації тегів і Користувач не отримає цю послугу.</p>
    <p class="bolder-p">6.6 Використання файлів coockie</p>
    <p>6.6.1 При вході до облікового запису Сайт встановлює на стороні клієнта/користувача деякі файли cookie з даними входу. Файли cookie видаляються наприкінці кожної сесії. Під час виходу з облікового запису куки входу видаляються негайно.</p>

    <h2>7. ВІДСУТНІСТЬ ГАРАНТІЙ, ОБМЕЖЕННЯ ВІДПОВІДАЛЬНОСТІ</h2>
    
    <p>7.1. Користувач використовує Сайт на власний ризик. Адміністрація ресурсу не бере на себе жодної відповідальності за зміст та достовірність інформації, що публікується на Сайті. Сайт надається «як є».</p>
    <p>7.2. Цитування матеріалів Сайту дозволяється лише за обов'язкового зазначення активного гіперпосилання на Сайт. Повне запозичення документа не дозволяється та є порушенням українського та міжнародного законодавства.</p>
    <p>7.3. Будь-яка інформація та/або матеріали (у тому числі програми, що завантажуються, будь-які інструкції та посібники до дії тощо), доступ до яких Користувач отримує з використанням Сайту, Користувач може використовувати на свій власний страх і ризик і самостійно несе відповідальність за можливі наслідки використання зазначених інформації та/або матеріалів, у тому числі за збитки, які це може завдати комп'ютеру Користувача або третім особам, за втрату даних або будь-яку іншу шкоду.</p>
    <p>7.4. Сайт не несе відповідальності за будь-які види збитків, що сталися внаслідок використання Користувачем матеріалів Сайту.</p>
    <p>7.5. Адміністрація повністю звільняється від відповідальності за неможливість користування Сервісом або неякісне надання Послуг.</p>
    <p class="bolder-p">7.6. За порушення цих Правил та/або Угоди Користувачеві може бути негайно, без будь-якого попереднього повідомлення відмовлено у послугах з надання Сервісу або такі послуги можуть бути обмежені повністю або частково. Обліковий запис користувача може бути заблокований та/або видалений, а невитрачені кошти на обліковому записі списані в рахунок адміністрації сервісу.</p>
    <p>7.7. Оскільки не завжди можна точно визначити ті чи інші порушення правил, то остаточне рішення завжди залишається за Адміністрацією сервісу.</p>
    <p>7.8 Адміністрація не несе відповідальності за будь-якими договорами між користувачем та третіми особами.</p>
    <p>7.9 Адміністрація не несе відповідальності за шкоду, заподіяну техніці користувача при використанні Сервісу.</p>
    <p>7.10 Адміністрація зберігає за собою право в будь-який час змінювати оформлення сервісу, його зміст, змінювати або доповнювати функціонал, програмне забезпечення та інші об'єкти, які використовуються або зберігаються на обчислювальних ресурсах Сервісу без будь-якого повідомлення Користувача.</p>
    
    <h2>8. ІНШІ ПОЛОЖЕННЯ</h2>
    
    <p>8.1. Правила є юридично зобов'язуючим договором між Користувачем та Власниками сервісу, що регламентують використання Сервісу.</p>
    <p>8.2. Ці Правила набувають чинності для Користувача з моменту його реєстрації у Сервісі та діють протягом невизначеного строку.</p>
    <p>8.3. Адміністрація керує Сервісом виключно на власний розсуд.</p>
    <p>8.4. Ці правила можуть бути змінені Адміністрацією Сервісу у будь-який час. Будь-які зміни/доповнення набирають чинності протягом 3 (Трьох) днів з моменту відповідної зміни/доповнення. У разі внесення суттєвих змін/доповнень до цих правил або користувальницької угоди, всі зареєстровані користувачі будуть повідомлені про це за допомогою спеціальних повідомлень усередині сервісу мінімум за 3 (Три) дні до набрання чинності відповідними змінами/доповненнями. Користувач зобов'язується перевіряти ці правила щодо змін не менше ніж один раз на три дні. У разі якщо такої перевірки не буде здійснено у зазначені терміни, а Користувач продовжує користуватися Сервісом, то вважається, що Користувач ознайомлений та згоден з цими Правилами.</p>
    <p>8.5. Користувач має право відмовитися від отримання листів від Адміністрації у будь-який час. Користувач має право видалити свій обліковий запис, написавши на електронну пошту хххххххsupport@csvtoexcel</p>
    <p>8.6. Користувач несе особисту відповідальність за будь-яку інформацію, яку розміщує через Сервіс, повідомляє іншим Користувачам, а також за будь-які взаємодії з іншими Користувачами, що здійснюються на свій ризик.</p>
    <p>8.7. Коментарі та питання Користувача, розміщені на Сайті, не є конфіденційною інформацією та можуть бути використані Адміністрацією сайту без обмежень.</p>
    <br>
    
    <p><em>Дата публікації: хх.хх.хххх р.</em></p>
</div>