     <h4>Сбой данных! Зарегистрируйтесь или выполните вход.</h4>
     <h4>Регистрация</h4>
    <div>
        <form action="/api/auth/registration" method="post">
            <input type="email" name="email">
            <input type="password" name="password">
            <button type="submit">Enter</button>
        </form>
    </div>  
    <a href="/login">Войти</a>
