<h1>Контакты</h1>
    <p>Электронный адрес: admin@mycorp.com</p>
    <div class="wrapper">
        <div class="container">
            <div class="part2div">
                <input type="email">
            </div>
            <div class="part2div">
                <input type="email">
            </div>
        </div>
        <div class="container">
            <div class="part3div">
                <input type="email">
            </div>
            <div class="part3div">
                <input type="email">
            </div>
            <div class="part3div">
                <input type="email">
            </div>
        </div>
    </div>

    <script src="/js/contacts.js"></script>
