
<h1  class="msg">{{msg}}</h1>
    <div class="form-block">
        <h3>Реєстрація</h3>
        <form action="/api/auth/registration" method="post" id="regform">
                <input type="text" name="nicname" value="vladim1" placeholder="Введить ваш нікнейм">
                <input type="email" value="vov1@gmail.com" name="email" placeholder="Введить ваш email">
                <input type="password" value="1111" name="password" placeholder="Введить пароль">
            
            <div class="checking">
                <input type="checkbox" name="flag" id="check">
                <label for="check"> Я згоден з:</label>
                <ul>
                    <li><a href="#">Умоваами використання</a></li>
                    <li>сайту та</li>
                    <li><a href="#">Договором оферти</a></li>
                </ul>
            </div>
            
            <div>
                <button 
                type="submit" 
                {{!-- disabled --}}
                >
                Зареєструватися</button>
            </div>
        </form>
        <div class="quest">
            <a href="/enter">Ви вже зареєстровані? Вхід</a>
        </div>
    </div>
{{!-- </div> --}}
 

<script src="/js/reg.js"></script>
