 {{!-- <div class="contain">
</div> --}}
<div class="wrap" id="wrap"> 
    <h1 class="page-title">Генератор тегов</h1>
    <form action="/api/system/upload1" method="post" >
            {{!-- <div class="row align-items-end"> --}}
            <div class="row-content">
                {{!-- <div class="col border"> --}}
                <div class="item-content">
                    <span class='itemname'><b>Название товара:</b></span>
                    <ul>
                        {{#each resname}}
                            <li class="liname block"><textarea  name="req_name" class="name">{{this}}</textarea></li>
                        {{/each}}
                    </ul>
                </div>
                {{!-- <div class="col border"> --}}
                <div class="item-content">
                    <div><span class='itemname'><b>Название группы:</b></span></div>
                    <ul>
                        {{#each resgroup}}
                            <li class="ligroup  block"><textarea name="req_group" class="group">{{this}}</textarea></li>
                        {{/each}}
                    </ul>
                </div>
                {{!-- <div class="col border"> --}}
                <div class="item-content">
                    <div><span class='itemname'><b>Поисковые запросы:</b></span></div>
                    <ul>
                        {{#each resfind}}
                            <li class="lifind block">
                                <textarea name="req_find" class="find">{{this}}</textarea>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{!-- <div class="row align-items-end"> --}}
            <div class="row-content">
                {{!-- <div class="col border"> --}}
                <div class="item-control">
                    <div><span class="itemname"><b>1 Group</b></span></div>
                    <div>
                        <textarea name="req_find2" id="group1" class="root-text"></textarea>
                    </div>
                    <div class="group">
                        
                        <button id="joinerWords" type="button">join</button>
                        <label class="switch">
                            <input type="checkbox" id="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <button id="mainPhrase" disabled>main phrase</button>
                        <button id="reqChange"  type="button" disabled>change</button>
                        <div class="count-block">
                            <span>Кількість</span>
                            <span>знаків:</span>
                            <div id="count"></div>
                        </div> 
                        {{!-- <button id="nextItem" type="button">next</button> --}}
                    </div>
                </div>
                {{!-- <div class="col border phrase"> --}}
                <div class="item-control">
                    <div><span class="itemname"><b>Ключевая фраза 1:</b></span></div>
                    {{!-- <ul> --}}
                        <div class="lifind block">
                            <input name="req_find1" class="find" id="mainphrase" />
                            <button id="swap" type="button">swap</button>
                             <button id="nextItem" type="button">next</button>
                             <button type="submit" id="data_save">Save</button>
                        </div>
                    {{!-- </ul> --}}
                </div>
            </div>
        {{!-- <button type="submit" id="data_save">Save</button> --}}
    </form>
    <div class="row-content">
        <div class="item-control">
            <form action="/api/system/upload2" method="post">
                <div class="lifind">
                    <span class="descript-span">Завантажити файл xlsx</span>
                    <button type="submit" id="down_load" disabled>Download</button>
                </div>
            </form>
        </div> 
    </div>
</div>
 
<div id="contmenu" class="hidden">
    {{!-- <div><a href="/api/auth/work">Продолжить работу</a></div>
    <div><a href="/api/auth/logout">Выйти</a></div> --}}
    <div class="user-links user-links-uload1">
        {{!-- <a href="/api/auth/continueWork" class="user-link">Знову</a> --}}
        <a href="/api/system/start" class="user-link">Знову</a>
        <a href="/api/auth/logout" class="user-link">Вийти</a>
        {{!-- <a href="/enter" class="user-link">Вхід</a>
        <a href="/registration" class="user-link">Реєстрація</a> --}}
    </div>
</div>



      <script src="/js/ind.js"></script>
      {{!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
      
        </body>
        </html> --}}