
    <div class="form-block">
        <h3>Запис оплати</h3>
        <form action="/api/auth/writepaying" method="post" id="regform">
                <input type="text" name="email" placeholder="Введить email юзера">
                <input type="number" name="sumpay" placeholder="Введить суму оплати юзера">
            
            
                <button 
                type="submit" 
                {{!-- disabled --}}
                >
                Вписати оплату</button>
            </div>
        </form>
    </div>

    <div class="form-block">
        <h3>Лист про оплату</h3>
        <form action="/api/auth/sendendpay" method="post" id="regform">
                {{!-- <input type="text" name="email" placeholder="Введить email юзера">
                <input type="number" name="sumpay" placeholder="Введить суму оплати юзера"> --}}
            
            
                <button 
                type="submit" 
                {{!-- disabled --}}
                >
                Нагадати про оплату</button>
            </div>
        </form>
    </div>
{{!-- </div> --}}
 

{{!-- <script src="/js/reg.js"></script> --}}
