button {
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    border: 0;
    border-radius: 3px;
    border: 1px solid $darky;
    background: $lighty;
    color: $darky;
    padding: 3% 4%;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
        border: 1px solid $lighty;
        background-color: $darky;
        color: $lighty;
        // padding: 2.5% 4%;
    }
    &:focus {
        border: 1px solid $darky;
        // padding: 2.5% 4%;
        background-color: #fff;
        color: $darky;
    }
    
  }

  button.btn-disabled {
    border: 1px solid lightgray;
    color: lightgray;
    &:hover {
        border: 1px solid lightgray;
        // padding: 2.5% 4%;
        color: lightgray;
        background-color: transparent;
    }
    &:focus {
        border: 1px solid lightgray;
        color: lightgray;
    }
  }