.history-page-title {
    margin: 2% 0;
    text-align: center;
    font-weight: 500;
    color: #006666;
}
.payment-list {
    li{
        padding-top: 6px;
        padding-bottom: 6px;
        color: $darky;
        background-color: #fff;
    }

    li:nth-child(even){
        background-color: $medy;
        color: rgb(31, 30, 30);

    }
}